<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Plan Cta. Chile" ui-sref="home.plan-chile">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos del nuevo Plan Cta. Chile {{vm.planCtaChile.name}}</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="vm.formPlanChile" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Cuenta</label>
        <input type="text" name="account" ng-model="vm.planCtaChile.account"
         limit-caracter="{{vm.formatosImputs.account.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.account.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" name="name" ng-model="vm.planCtaChile.name"
         limit-caracter="{{vm.formatosImputs.name.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.name.pattern}}" required>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nivel 1</label>
        <input type="text" name="level1" ng-model="vm.planCtaChile.level1"
         limit-caracter="{{vm.formatosImputs.level1.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.level1.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Nivel 2</label>
        <input type="text" name="level2" ng-model="vm.planCtaChile.level2"
         limit-caracter="{{vm.formatosImputs.level2.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.level2.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Nivel 3</label>
        <input type="text" name="level3" ng-model="vm.planCtaChile.level3"
         limit-caracter="{{vm.formatosImputs.level3.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.level3.pattern}}" required>
      </md-input-container>
    </div>
    <md-button ng-disabled="vm.formPlanChile.$invalid || vm.formPlanChile.$pristine"
      aria-label="Guardar" type="submit" class="md-raised md-primary">
        Guardar
    </md-button>
  </form>
</md-content>
