<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Plan Cta. Chile" ui-sref="home.plan-chile-data({idEmpresa: vm.empresa.id})">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos del Plan Cta. Chile {{vm.planCtaChile.name}}</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="vm.formPlanChile" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
          <md-input-container flex>
              <label>Empresa asociada</label>
              <input type="text" name="empresa" ng-model="vm.empresa.name"
                     disabled readonly>
          </md-input-container>
      </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Cuenta</label>
        <input type="text" name="account" ng-model="vm.planCtaChile.account"
         limit-caracter="{{vm.formatosImputs.account.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.account.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" name="name" ng-model="vm.planCtaChile.name"
         limit-caracter="{{vm.formatosImputs.name.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.name.pattern}}" required>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nivel 1</label>
        <md-select flex ng-model="vm.planCtaChile.level1" required ng-disabled="vm.levels1.length === 0">
          <md-option ng-repeat="level in vm.levels1" ng-value="level.name">
            {{level.name}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Nivel 2</label>
        <md-select flex ng-model="vm.planCtaChile.level2" required ng-disabled="vm.levels2.length === 0">
          <md-option ng-repeat="level in vm.levels2" ng-value="level.name">
            {{level.name}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-button class="md-raised md-primary" aria-label="Guardar" type="submit"
       ng-disabled="vm.formPlanChile.$invalid || vm.formPlanChile.$pristine || vm.loading">
          Guardar Cambios
      </md-button>
      <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
	     ng-show="vm.loading">
	    </md-progress-circular>
    </div>
  </form>
</md-content>
<md-progress-circular md-mode="indeterminate" class="md-primary center-loading" md-diameter="40px"
 ng-show="vm.charge">
</md-progress-circular>
