<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Empresa" ui-sref="home.empresas">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos de la nueva Empresa {{vm.empresa.name}}</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="vm.form" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" ng-model="vm.empresa.name" required>
      </md-input-container>
      <md-input-container flex>
        <label>Código Softland</label>
        <input type="text" ng-model="vm.empresa.code" required>
      </md-input-container>
    </div>
    <md-button type="submit" class="md-raised md-primary" aria-label="Guardar"
      ng-disabled="vm.form.$invalid || vm.form.$pristine">
      Guardar
    </md-button>
  </form>
</md-content>
