<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Empresa" ui-sref="home.empresas">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos de la nueva Empresa</span>
  </div>
</md-toolbar>
<md-content class="md-padding anim-zoom-out speed-ng-anim">
  <form name="vm.formEmpresa" ng-submit="vm.createEmpresa(); $event.stopPropagation();" novalidate>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" name="nombre" ng-model="vm.empresa.name"
         limit-caracter="{{vm.formatosImputs.nombre.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.nombre.pattern}}" required>
		    <div ng-messages="vm.formEmpresa.name.$error" role="alert">
        </div>
      </md-input-container>
      <md-input-container flex>
        <label>Código</label>
        <input type="text" name="codigo" ng-model="vm.empresa.code"
        limit-caracter="{{vm.formatosImputs.codigo.maxlength}}"
        caracter-restrict="{{vm.formatosImputs.codigo.pattern}}" required>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-button class="md-raised md-primary" aria-label="Crear Empresa" type="submit"
        ng-disabled="!vm.formEmpresa.$valid || vm.loading">
        Crear Empresa
      </md-button>
      <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
	     ng-show="vm.loading">
	    </md-progress-circular>
    </div>
  </form>
</md-content>
