<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Usuarios" ui-sref="home.usuarios">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos del nuevo Usuario</span>
  </div>
</md-toolbar>
<md-content class="md-padding anim-zoom-out speed-ng-anim">
  <form name="vm.formUsers" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Alias</label>
        <input type="text" name="username" ng-model="vm.user.username"
         limit-caracter="{{vm.formatosImputs.username.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.username.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Email</label>
        <input type="email" name="email" ng-model="vm.user.email"
         limit-caracter="{{vm.formatosImputs.email.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.email.pattern}}" required>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" name="name" ng-model="vm.user.name"
         limit-caracter="{{vm.formatosImputs.name.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.name.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Apellido</label>
        <input type="text" name="lastName" ng-model="vm.user.lastName"
         limit-caracter="{{vm.formatosImputs.lastName.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.lastName.pattern}}" required>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Perfil</label>
        <md-select ng-model="vm.user.role" required>
          <md-option ng-repeat="role in vm.roles" ng-value="role">
            {{role}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Contraseña</label>
        <input type="password" name="password" ng-model="vm.user.password"
         limit-caracter="{{vm.formatosImputs.password.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.password.pattern}}" required>
      </md-input-container>
      <md-input-container flex>
        <label>Repetir contraseña</label>
        <input type="password" name="rewritePassword" ng-model="vm.user.rewritePassword"
         compare-to="vm.user.password" limit-caracter="{{vm.formatosImputs.rewritePassword.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.rewritePassword.pattern}}" required>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-button class="md-raised md-primary" aria-label="Crear Usuario"
        type="submit" ng-disabled="vm.formUsers.$invalid || vm.loading">
        Crear Usuario
      </md-button>
      <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
        ng-show="vm.loading">
      </md-progress-circular>
    </div>
  </form>
</md-content>
