<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Plan Cta. Chile" ui-sref="home.plan-chile-data({idEmpresa: vm.idEmpresa})">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos del nuevo Plan Cta. Chile</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="vm.formPlanChile" ng-submit="vm.createPlanCtaChile();" novalidate>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
          <md-input-container flex>
              <label>Empresa asociada</label>
              <input type="text" name="empresa" ng-model="vm.empresa.name"
                     disabled readonly>
          </md-input-container>
      </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Cuenta</label>
        <input type="text" name="cuenta" ng-model="vm.planCtaChile.account"
         limit-caracter="{{vm.formatosImputs.account.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.account.pattern}}" required>
		    <div ng-messages="vm.formPlanChile.account.$error" role="alert"></div>
      </md-input-container>
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" name="nombre" ng-model="vm.planCtaChile.name"
         limit-caracter="{{vm.formatosImputs.name.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.name.pattern}}" required>
		    <div ng-messages="vm.formPlanChile.name.$error" role="alert"></div>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
        <md-autocomplete required flex
                         md-input-name="level1"
                         md-selected-item="vm.planCtaChile.level1"
                         md-search-text="vm.searchText1"
                         md-no-cache="true"
                         md-items="item in vm.querySearchNiveles(vm.searchText1, 1)"
                         md-item-text="item.name"
                         md-require-match
                         md-floating-label="Nivel 1">
            <md-item-template>
                <span md-highlight-text="vm.searchText1">
                  {{item.name}}
                </span>
            </md-item-template>
            <md-not-found>
                No hay niveles con el nombre indicado.
            </md-not-found>
        </md-autocomplete>
        <md-autocomplete required flex
                         md-input-name="level2"
                         md-selected-item="vm.planCtaChile.level2"
                         md-search-text="vm.searchText2"
                         md-no-cache="true"
                         md-items="item in vm.querySearchNiveles(vm.searchText2, 2)"
                         md-item-text="item.name"
                         md-require-match
                         md-floating-label="Nivel 2">
            <md-item-template>
                <span md-highlight-text="vm.searchText2">
                    {{item.name}}
                </span>
            </md-item-template>
            <md-not-found>
                No hay niveles con el nombre indicado.
            </md-not-found>
        </md-autocomplete>
    </div>
    <md-button ng-disabled="!vm.formPlanChile.$valid" aria-label="Crear Cta. Chile" type="submit"
      class="md-raised md-primary">
      Crear Plan
    </md-button>
  </form>
</md-content>
