<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Plan Cta. Origen" ui-sref="home.plan-origen-data({idCuenta: vm.chileanAccountId})">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos del nuevo Plan Cta. Origen</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="vm.formPlanOrigen" ng-submit="vm.createPlanCtaOrigin(); $event.stopPropagation();" novalidate>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
          <md-input-container flex>
              <label>Empresa asociada</label>
              <input type="text" name="empresa" ng-model="vm.empresa.name" ng-disabled="true">
          </md-input-container>
          <md-input-container flex>
              <label>Cuenta de Destino asociada</label>
              <input type="text" name="nombre" ng-model="vm.cuenta.name" ng-disabled="true">
          </md-input-container>
      </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Cuenta</label>
        <input type="text" name="account" ng-model="vm.planCtaOrigen.account"
         limit-caracter="{{vm.formatosImputs.account.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.account.pattern}}" required>
         <div ng-messages="vm.formPlanChile.account.$error" role="alert"></div>
      </md-input-container>
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" name="name" ng-model="vm.planCtaOrigen.name"
         limit-caracter="{{vm.formatosImputs.name.maxlength}}"
         caracter-restrict="{{vm.formatosImputs.name.pattern}}" required>
         <div ng-messages="vm.formPlanChile.account.$error" role="alert"></div>
      </md-input-container>
    </div>
    <div layout="row" flex>
      <md-button class="md-raised md-primary" aria-label="Crear Cta. Origen" type="submit"
       ng-disabled="!vm.formPlanOrigen.$valid || vm.loading">
        Crear Plan
      </md-button>
      <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
	     ng-show="vm.loading">
	    </md-progress-circular>
    </div>
  </form>
</md-content>
