<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-fab md-mini" aria-label="Volver a Usuarios" ui-sref="home.usuarios">
      <md-tooltip md-direction="bottom">
        Volver
      </md-tooltip>
      <i class="material-icons">arrow_back</i>
    </md-button>
    <span>Datos del nuevo Usuario</span>
  </div>
</md-toolbar>
<md-content class="md-padding">
  <form name="vm.formUsers" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Alias</label>
        <input type="text" ng-model="vm.user.username" required>
      </md-input-container>
      <md-input-container flex>
        <label>Email</label>
        <input type="email" ng-model="vm.user.email" required>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" ng-model="vm.user.name" required>
      </md-input-container>
      <md-input-container flex>
        <label>Apellido</label>
        <input type="text" ng-model="vm.user.lastName" required>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Perfil</label>
        <md-select ng-model="vm.user.role" required>
          <md-option ng-repeat="role in vm.roles" ng-value="role">
            {{role}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Contraseña</label>
        <input type="password" ng-model="vm.user.password" required>
      </md-input-container>
      <md-input-container flex>
        <label>Repetir contraseña</label>
        <input type="password" ng-model="vm.user.rewritePassword" required>
      </md-input-container>
    </div>
    <md-button class="md-raised md-primary" aria-label="Crear Usuario" type="submit">
      Crear Usuario
    </md-button>
  </form>
</md-content>
