<md-card layout-fill>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <span>Selecciona los filtros</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="vm.handleSubmit(); $event.preventDefault();" name="vm.searchForm" novalidate>
      <md-autocomplete required flex
        md-input-name="empresa"
        ng-disabled="vm.loading"
        md-selected-item="vm.search.empresa"
        md-search-text="vm.searchText"
        md-no-cache="true"
        md-items="item in vm.querySearchEmpresa(vm.searchText)"
        md-item-text="item.name"
        md-require-match
        md-floating-label="Empresa">
        <md-item-template>
          <span md-highlight-text="vm.searchText">
            {{item.name}}
          </span>
        </md-item-template>
        <md-not-found>
          No hay empresas con el nombre indicado.
        </md-not-found>
      </md-autocomplete>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
        <md-input-container flex>
          <label>Año</label>
          <md-select ng-model="vm.search.year" ng-disabled="vm.loading">
            <md-option ng-repeat="year in vm.years" ng-value="year.id">
              {{year.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Mes</label>
          <md-select ng-model="vm.search.month" ng-disabled="vm.loading">
            <md-option ng-repeat="month in vm.months" ng-value="month.id">
              {{month.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-button type="submit" aria-label="Filtrar" class="md-raised md-primary"
          ng-disabled="vm.searchForm.$invalid || vm.loading">
          Buscar
          <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
          ng-show="vm.loading">
        </md-progress-circular>
      </div>
    </form>
  </md-card-content>
</md-card>
