<md-dialog aria-label="Editar Movimientos">
  <form name="formEditTransaction">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Movimientos</h2>
      </div>
    </md-toolbar>

    <md-dialog-content style="padding: 15px;" layout="column">
      <md-input-container flex>
        <label>Cuenta de Chile</label>
        <md-select flex ng-model="account" required>
          <md-option ng-repeat="account in accounts" ng-value="account.id">
            {{account.name}} - {{account.account}}
          </md-option>
        </md-select>
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="updateTransactions('useful')">
        Actualizar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
