<md-card layout-fill>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <span>Selecciona una empresa</span>
    </div>
  </md-toolbar>
  <md-card-content ng-show="vm.viewSearch==='chilean'">
    <form ng-submit="vm.filterAccounts(); $event.preventDefault();" name="searchFormChilean" novalidate>
      <md-autocomplete required flex
        md-input-name="empresa"
        md-selected-item="vm.empresa"
        md-search-text="vm.searchText"
        md-no-cache="true"
        md-items="item in vm.querySearchEmpresa(vm.searchText)"
        md-item-text="item.name"
        md-require-match
        md-floating-label="Empresa">
        <md-item-template>
          <span md-highlight-text="vm.searchText">
            {{item.name}}
          </span>
        </md-item-template>
        <md-not-found>
          No hay empresas con el nombre indicado.
        </md-not-found>
      </md-autocomplete>
      <md-button type="submit" aria-label="Filtrar" class="md-raised md-primary"
        ng-disabled="vm.searchFormChilean.$invalid">
        Buscar
        <md-icon class="material-icons">search</md-icon>
      </md-button>
    </form>
  </md-card-content>
  <md-card-content ng-show="vm.viewSearch==='origin'">
    <form ng-submit="vm.filterAccounts(); $event.preventDefault();" name="vm.searchFormOrigin" novalidate>
      <md-autocomplete required flex
        ng-class="{'has-error': vm.errors.cuenta}"
        md-input-name="empresa"
        ng-disabled="vm.loading"
        md-selected-item="vm.empresa"
        md-search-text="vm.searchText"
        md-no-cache="true"
        md-items="item in vm.querySearchEmpresa(vm.searchText)"
        md-item-text="item.name"
        md-require-match
        md-floating-label="Empresa">
        <md-item-template>
          <span md-highlight-text="vm.searchText">
            {{item.name}}
          </span>
        </md-item-template>
        <md-not-found>
          No hay empresas con el nombre indicado.
        </md-not-found>
        <div class="error-message" ng-show="vm.errors.cuenta">
          Empresa {{vm.empresa.name}} no tiene cuentas vinculadas.
        </div>
      </md-autocomplete>
      <md-input-container layout="row" flex>
        <label>Cuenta de destino</label>
        <md-select flex ng-model="vm.cuenta" required ng-disabled="vm.chileanAccounts.length===0 || vm.loading">
          <md-option ng-repeat="account in vm.chileanAccounts" ng-value="account.id">
            {{account.name}} - {{account.account}}
          </md-option>
        </md-select>
      </md-input-container>
      <div layout="row" flex>
        <md-button type="submit" aria-label="Filtrar" class="md-raised md-primary"
          ng-disabled="vm.searchFormOrigin.$invalid || vm.loading">
          Buscar
          <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
          ng-show="vm.loading">
        </md-progress-circular>
      </div>
    </form>
  </md-card-content>
</md-card>
