<md-card layout-fill>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <span>Selecciona una empresa</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="vm.filterAccounts(); $event.preventDefault();" name="vm.searchForm" novalidate>
      <md-input-container layout="row" flex>
        <label>Empresa</label>
        <md-select flex ng-model="vm.empresa" required ng-disabled="vm.loading">
          <md-option ng-repeat="empresa in vm.empresas" ng-value="empresa.id">
            {{empresa.name}} - {{empresa.code}}
          </md-option>
        </md-select>
      </md-input-container>
      <div layout="row" flex>
        <md-button type="submit" aria-label="Filtrar" class="md-raised md-primary"
          ng-disabled="vm.searchFormOrigin.$invalid || vm.loading">
          Buscar
          <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
          ng-show="vm.loading">
        </md-progress-circular>
      </div>
    </form>
  </md-card-content>
</md-card>
