<div class="table-responsive-vertical md-whiteframe-z1 anim-zoom-out speed-ng-anim">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini" aria-label="Volver a filtrar" ng-click="vm.volver()">
        <md-tooltip md-direction="bottom">
          Volver
        </md-tooltip>
        <i class="material-icons">arrow_back</i>
      </md-button>
      <span>Listado de registros</span>
    </div>
  </md-toolbar>
  <md-table-container>
    <table id="table" md-table ng-hide="vm.loading">
      <thead md-head>
        <tr md-row>
          <th md-column>Nivel 1</th>
          <th md-column>Nivel 2</th>
          <th md-column>Cta. Chile</th>
          <th md-column>Cta. Origen</th>
          <th md-column>Ene</th>
          <th md-column>Feb</th>
          <th md-column>Mar</th>
          <th md-column>Abr</th>
          <th md-column>May</th>
          <th md-column>Jun</th>
          <th md-column>Jul</th>
          <th md-column>Ago</th>
          <th md-column>Sep</th>
          <th md-column>Oct</th>
          <th md-column>Nov</th>
          <th md-column>Dic</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-show="!vm.loading && vm.arrayData.length===0">
          <td colspan="16" style="text-align:center;">
            No hay datos registrados
          </td>
        </tr>
        <tr md-row ng-repeat="data in vm.arrayData track by $index">
          <td md-cell data-title="Nivel 1">{{data.chileanAccount.level1}}</td>
          <td md-cell data-title="Nivel 2">{{data.chileanAccount.level2}}</td>
          <td md-cell data-title="Cta. Chile">{{data.chileanAccount.name}}</td>
          <td md-cell data-title="Cta. Origen">{{data.name}}</td>
          <td md-cell data-title="Ene">{{data.montoEnero|currency:'$':0}}</td>
          <td md-cell data-title="Feb">{{data.montoFebrero|currency:'$':0}}</td>
          <td md-cell data-title="Mar">{{data.montoMarzo|currency:'$':0}}</td>
          <td md-cell data-title="Abr">{{data.montoAbril|currency:'$':0}}</td>
          <td md-cell data-title="May">{{data.montoMayo|currency:'$':0}}</td>
          <td md-cell data-title="Jun">{{data.montoJunio|currency:'$':0}}</td>
          <td md-cell data-title="Jul">{{data.montoJulio|currency:'$':0}}</td>
          <td md-cell data-title="Ago">{{data.montoAgosto|currency:'$':0}}</td>
          <td md-cell data-title="Sep">{{data.montoSeptiembre|currency:'$':0}}</td>
          <td md-cell data-title="Oct">{{data.montoOctubre|currency:'$':0}}</td>
          <td md-cell data-title="Nov">{{data.montoNoviembre|currency:'$':0}}</td>
          <td md-cell data-title="Dic">{{data.montoDiciembre|currency:'$':0}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
</div>
<md-progress-circular md-mode="indeterminate" class="md-primary center-loading" md-diameter="40px"
  ng-show="vm.loading">
</md-progress-circular>
