<md-card layout-fill ng-hide="vm.searchProcess && vm.arrayErrores.length > 0">
  <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
          <span>Datos de carga</span>
      </div>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="vm.handleSubmitCarga(); $event.preventDefault();" name="vm.cargaForm" novalidate>
      <md-input-container layout="row" flex>
        <label>Empresa</label>
        <md-select flex ng-model="vm.carga.empresa" required ng-disabled="vm.loadingCarga">
          <md-option ng-repeat="empresa in vm.empresas" ng-value="empresa">
            {{empresa.name}} - {{empresa.code}}
          </md-option>
        </md-select>
      </md-input-container>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
        <md-input-container flex layout="row">
          <md-button aria-label="Cargar Movimientos" class="md-raised md-primary md-fab md-mini"
            ngf-select="vm.upload($file); $event.preventDefault();" ngf-pattern="vm.mimeTypes"
            ngf-accept="vm.mimeTypes" ngf-max-size="200MB" ng-disabled="vm.loadingCarga">
            <md-icon class="material-icons">attach_file</md-icon>
            <md-tooltip>
              Subir archivo
            </md-tooltip>
          </md-button>
          <input type="text" aria-label="name-file" ng-disabled="true" ng-model="vm.filename" >
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-button type="submit" aria-label="Cargar Movimientos" class="md-raised md-primary"
          ng-disabled="(vm.cargaForm.$invalid || vm.carga.file.length === 0) || vm.loadingCarga">
          <md-icon class="material-icons">publish</md-icon>
          Cargar Movimientos
        </md-button>
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
          ng-show="vm.loadingCarga">
        </md-progress-circular>
      </div>
    </form>
  </md-card-content>
</md-card>

<md-card md-colors="{background: 'red-300' }" ng-show="vm.searchProcess && vm.arrayErrores.length > 0" class="result-charge-card">
  <md-card-content>
    <span class="md-title" style="color:white;">
      <md-icon class="material-icons">report_problem</md-icon>
      ¡Ops!, a ocurrido un problema:
    </span>
    <span style="color:white;">
      {{vm.arrayErrores.length}} no se guardaron, puedes obviarlas y continuar o reintentar la carga.
    </span>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-primary md-raised" aria-label="Continuar" ng-click="vm.continuarCarga()">
      Obviar y continuar
    </md-button>
    <md-button class="md-warn md-raised" aria-label="Reintentar" ng-click="vm.cancelarCarga()">
      Cancelar carga
    </md-button>
  </md-card-actions>
</md-card>
</div>
