<md-card layout-fill ng-hide="vm.searchProcess">
  <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
          <span>Datos de carga</span>
      </div>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="vm.handleSubmitCarga(); $event.preventDefault();" name="vm.cargaForm" novalidate>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
        <md-autocomplete required flex
          ng-disabled="vm.loadingCarga"
          md-input-name="empresa"
          md-selected-item="vm.carga.empresa"
          md-search-text="vm.searchText"
          md-no-cache="true"
          md-items="item in vm.querySearchEmpresa(vm.searchText)"
          md-item-text="item.name"
          md-require-match
          md-floating-label="Empresa">
          <md-item-template>
            <span md-highlight-text="vm.searchText">{{item.name}}</span>
          </md-item-template>
          <md-not-found>
            No hay empresas con el nombre indicado.
          </md-not-found>
        </md-autocomplete>
      </div>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
        <md-input-container flex>
          <label>Año</label>
          <md-select ng-model="vm.carga.year" required ng-disabled="vm.loadingCarga">
            <md-option ng-repeat="year in vm.years()" ng-value="year">
              {{year}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Mes</label>
          <md-select ng-model="vm.carga.month" required ng-disabled="vm.loadingCarga">
            <md-option ng-repeat="month in vm.months" ng-value="month.id">
              {{month.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout layout-md="row" layout-sm="column" layout-xs="column">
        <md-input-container flex layout="row">
          <md-button aria-label="Cargar Movimientos" class="md-raised md-primary md-fab md-mini"
            ngf-select="vm.upload($file); $event.preventDefault();" ngf-pattern="vm.mimeTypes"
            ngf-accept="vm.mimeTypes" ngf-max-size="200MB" ng-disabled="vm.loadingCarga">
            <md-icon class="material-icons">attach_file</md-icon>
            <md-tooltip>
              Subir archivo
            </md-tooltip>
          </md-button>
          <input type="test" readonly disabled ng-model="vm.filename" >
        </md-input-container>
      </div>
      <div layout="row" flex>
        <md-button type="submit" aria-label="Cargar Movimientos" class="md-raised md-primary"
          ng-disabled="vm.cargaForm.$invalid">
          <md-icon class="material-icons">publish</md-icon>
          Cargar Movimientos
        </md-button>
        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="40px"
          ng-show="vm.loadingCarga">
        </md-progress-circular>
      </div>
    </form>
  </md-card-content>
</md-card>
<div class="table-responsive-vertical md-whiteframe-z1" ng-show="vm.searchProcess">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini" aria-label="Volver a Empresa" ng-click="vm.cancelarCarga()">
        <md-tooltip md-direction="bottom">
          Volver
        </md-tooltip>
        <i class="material-icons">arrow_back</i>
      </md-button>
      <span>Datos desde del archivo</span>
      <md-button class="md-fab md-fab-top-right" aria-label="Agregar Cuenta">
        <md-tooltip md-direction="bottom">
          Finalizar carga
        </md-tooltip>
        <md-icon class="material-icons">publish</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected">
      <thead md-head md-order="query.order" md-on-reorder="vm.carga.file">
        <tr md-row>
          <th md-column>Date</th>
          <th md-column>Num</th>
          <th md-column>Name</th>
          <th md-column>Memo</th>
          <th md-column>Account</th>
          <th md-column>Split</th>
          <th md-column>Amount</th>
          <th md-column>TC</th>
          <th md-column>Pesos Liabilities</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr></tr>
        <tr md-row md-select="data" md-select-id="$index" md-auto-select ng-repeat="data in vm.carga.file">
          <td md-cell data-title="Date">{{data.Date}}</td>
          <td md-cell data-title="Num">{{data.Num}}</td>
          <td md-cell data-title="Name">{{data.Name}}</td>
          <td md-cell data-title="Memo">{{data.Memo}}</td>
          <td md-cell data-title="Account">{{data.Account}}</td>
          <td md-cell data-title="Split">{{data.Split}}</td>
          <td md-cell data-title="Split">{{data.Split}}</td>
          <td md-cell data-title="Account">{{data.Amount}}</td>
          <td md-cell data-title="TC">{{data.TC}}</td>
          <td md-cell data-title="Pesos Liabilities">{{data['Pesos Liabilities']}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.carga.file.length}}" md-on-paginate="vm.carga.file" md-page-select></md-table-pagination>
</div>
