<div class="table-responsive-vertical md-whiteframe-z1">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <span>Listado de registros</span>
      <md-button class="md-fab md-fab-top-right" aria-label="Agregar Empresa" ui-sref="home.empresas-nueva">
        <md-tooltip md-direction="bottom">
          Agregar Empresa
        </md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <table id="table" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Empresa</th>
          <th>Código</th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr class="tr-with-btn" ng-repeat="data in vm.tableData track by $index">
          <td data-title="ID">{{data.id}}</td>
          <td data-title="Empresa">{{data.name}}</td>
          <td data-title="Código">
            {{data.code}}
            <md-fab-speed-dial md-direction="left" md-open="data.open" class="md-scale fab-btn-td">
              <md-fab-trigger class="fab-btn-td">
                <md-button aria-label="menu" class="md-fab md-warn">
                  <md-icon md-svg-src="assets/icons/more_vert.svg"></md-icon>
                </md-button>
              </md-fab-trigger>
              <md-fab-actions>
               <md-button aria-label="Editar" class="md-fab md-raised md-mini">
                 <md-icon md-svg-src="assets/icons/create.svg" aria-label="Editar"
                  ui-sref="home.empresas-editar({id: data.id})"></md-icon>
               </md-button>
               <md-button aria-label="Eliminar" class="md-fab md-raised md-mini">
                 <md-icon md-svg-src="assets/icons/delete_forever.svg" aria-label="Eliminar"
                  ng-click="home.empresas({id: data.id})"></md-icon>
               </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>
          </td>
        </tr>
      </tbody>
  </table>
</div>
