<div class="table-responsive-vertical md-whiteframe-z1" ng-show="vm.searchProcess">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini" aria-label="Volver a Empresa" ng-click="vm.cancelarCarga()">
        <md-tooltip md-direction="bottom">
          Volver
        </md-tooltip>
        <i class="material-icons">arrow_back</i>
      </md-button>
      <span>Datos desde del archivo</span>
      <md-progress-circular md-mode="indeterminate" class="md-warn" md-diameter="40px" ng-show="vm.loadingFinish" style="position: absolute;right: 20px;">
      </md-progress-circular>
      <md-button class="md-fab md-fab-top-right" aria-label="Agregar Cuenta" ng-disabled="!vm.activarFinalizados"
        ng-hide="vm.loadingFinish" ng-click="vm.finishCharge()">
        <md-tooltip md-direction="bottom">
          Finalizar carga
        </md-tooltip>
        <md-icon class="material-icons">publish</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-table-container>
    <table md-table>
      <thead md-head md-order="query.order">
        <tr md-row>
          <th md-column>Date</th>
          <th md-column>Num</th>
          <th md-column>Name</th>
          <th md-column>Memo</th>
          <th md-column>Account</th>
          <th md-column>Split</th>
          <th md-column>Amount</th>
          <th md-column>TC</th>
          <th md-column>Pesos Liabilities</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr></tr>
        <tr md-row md-select="data" md-select-id="$index" md-auto-select ng-repeat="data in vm.arrayResults track by $index">
          <td md-cell data-title="Date">{{data.Date}}</td>
          <td md-cell data-title="Num">{{data.Num}}</td>
          <td md-cell data-title="Name">{{data.Name}}</td>
          <td md-cell data-title="Memo">{{data.Memo}}</td>
          <td md-cell data-title="Account">{{data.Account}}</td>
          <td md-cell data-title="Split">{{data.Split}}</td>
          <td md-cell data-title="Account">{{data.Amount}}</td>
          <td md-cell data-title="TC">{{data.TC}}</td>
          <td md-cell data-title="Pesos Liabilities">{{data['Pesos Liabilities']}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.correctResults.length}}"
     md-on-paginate="vm.getResults()" md-page-select md-limit-options="[5, 10, 15]">
  </md-table-pagination>
</div>
