<div class="table-responsive-vertical md-whiteframe-z1" ng-hide="vm.searchProcess">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini" aria-label="Volver a filtrar" ng-click="vm.volver()">
        <md-tooltip md-direction="bottom">
          Volver
        </md-tooltip>
        <i class="material-icons">arrow_back</i>
      </md-button>
      <span>Movimientos cargados</span>
      <md-progress-circular md-mode="indeterminate" class="md-primary center-loading loading-row-table"
        md-diameter="35px" ng-show="vm.loading">
      </md-progress-circular>
      <md-menu ng-hide="vm.loading">
        <md-button class="md-fab md-fab-top-right" aria-label="Acción" ng-disabled="vm.selected.length===0"
          ng-click="vm.openMenu($mdOpenMenu, $event)" ng-hide="vm.viewAccess.canEdit===1 && vm.viewAccess.canDelete===1">
          <md-tooltip md-direction="bottom">
            Realizar acción
          </md-tooltip>
          <md-icon md-svg-src="assets/icons/more_vert.svg"></md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item ng-if="vm.viewAccess.canEdit===0">
            <md-button ng-click="vm.actualizarTransactions($event)">
              <md-icon md-svg-icon="assets/icons/create.svg" md-menu-align-target></md-icon>
              Editar
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.viewAccess.canDelete===0">
            <md-button ng-click="vm.deleteSelectedTransactions($event)">
              <md-icon md-svg-icon="assets/icons/delete_forever.svg"></md-icon>
              Eliminar
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
  <md-table-container>
    <table md-table md-row-select multiple ng-model="vm.selected">
      <thead md-head md-order="query.order">
        <tr md-row>
          <th md-column>Estado</th>
          <th md-column>Cta. Origen</th>
          <th md-column>Date</th>
          <th md-column>Num</th>
          <th md-column>Name</th>
          <!--<th md-column>Memo</th>-->
          <th md-column>Account</th>
          <!--<th md-column>Split</th>-->
          <th md-column>Amount</th>
          <th md-column>TC</th>
          <th md-column>Pesos Liabilities</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr></tr>
        <tr md-row md-select="data" md-select-id="$index" md-auto-select ng-repeat="data in vm.arrayResults track by $index">
          <td md-cell data-title="Estado">
            <md-chips>
              <md-chip ng-class="{ 'chip-deleted': data.status === 1, 'chip-auth': data.status === 2 }">
                {{vm.showState(data.status)}}
              </md-chip>
            </md-chips>
          </td>
          <td md-cell data-title="Estado">
            {{data.originAccount ? data.originAccount.name : 'No enlazado' }}
          </td>
          <td md-cell data-title="Date">{{data.date}}</td>
          <td md-cell data-title="Num">{{data.num}}</td>
          <td md-cell data-title="Name">{{data.name}}</td>
          <!--<td md-cell data-title="Memo">{{data.memo}}</td>-->
          <td md-cell data-title="Account">{{data.account}}</td>
          <!--<td md-cell data-title="Split">{{data.split}}</td>-->
          <td md-cell data-title="Amount">{{data.amount}}</td>
          <td md-cell data-title="TC">{{data.tc}}</td>
          <td md-cell data-title="Pesos Liabilities">{{data.liabilities}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.arrayResults.length}}"
     md-on-paginate="vm.getResults()" md-page-select md-limit-options="[5, 10, 15]">
  </md-table-pagination>
</div>
<md-progress-circular md-mode="indeterminate" class="md-primary center-loading" md-diameter="40px"
  ng-show="vm.searchProcess">
</md-progress-circular>
