<md-content layout-padding layout="column">
  <div flex layout="row">
    <h2>Mega Centro</h2>
  </div>
  <div flex layout="column" layout-align="center center">
    <img ng-src="{{vm.dataImg}}" style="max-height: 400px" >
  </div>
  <div flex layout="column">
    <p>
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
      Prueba de texto repetido N veces.
    </p>
  </div>
</md-content>
