<form class="md-content" layout="row" layout-fill layout-align="center center"
  name="vm.form" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
  <md-card>
    <img ng-src="assets/images/modules.png" class="md-card-image login-img">
    <md-card-title class="login-title">
      <md-card-title-text>
        <span class="md-headline text-center">
          <strong>Mega</strong>Centro
        </span>
        <span class="md-subhead text-center">Bodegas & Oficinas</span>
        <hr>
        <span class="small-subhead text-center">Red MegaCentro</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-input-container class="md-icon-float md-block">
        <label>Usuario</label>
        <md-icon md-svg-src="assets/icons/ic_perm_identity_black_24px.svg"></md-icon>
        <input type="email" name="email" ng-model="vm.formData.email"
          limit-caracter="{{vm.formatosImputs.email.maxlength}}"
          required caracter-restrict="{{vm.formatosImputs.email.pattern}}">
        <div ng-messages="vm.form.email.$error" role="alert">
          <div class="my-message" ng-message="email">
            Debes indicar un email válido.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-icon-float md-block">
        <label>Contraseña</label>
        <md-icon md-svg-src="assets/icons/ic_lock_outline_black_24px.svg"></md-icon>
        <input type="password" name="password" ng-model="vm.formData.password"
          required limit-caracter="{{vm.formatosImputs.password.maxlength}}" 
          caracter-restrict="{{vm.formatosImputs.password.pattern}}">
      </md-input-container>
      <md-button class="md-raised md-primary" ng-disabled="!vm.form.$valid"
        aria-label="Ingresar" type="submit">
         Ingresar
      </md-button>
    </md-card-content>
  </md-card>
</form>
