<form class="md-content" layout="row" layout-fill layout-align="center center"
  name="vm.form" ng-submit="vm.handleSubmit(); $event.stopPropagation();" novalidate>
  <md-card flex flex-gt-sm="40" flex-gt-md="30" flex-gt-xs="60">
    <img ng-src="assets/images/modules.png" class="md-card-image login-img">
    <md-card-title class="login-title">
      <md-card-title-text>
        <span class="md-headline text-center">
          <strong>Mega</strong>Centro
        </span>
        <span class="md-subhead text-center">Bodegas & Oficinas</span>
        <hr>
        <span class="small-subhead text-center">Red MegaCentro</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <md-input-container class="md-block">
        <label>Usuario</label>
        <input type="text" name="email" ng-model="vm.formData.email" required>
        <div ng-messages="vm.form.email.$error" role="alert" multiple="">
          <div class="my-message" ng-message="required">Debes indicar tu email.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Contraseña</label>
        <input type="password" name="password" ng-model="vm.formData.password"
          required>
        <div ng-messages="vm.form.password.$error" role="alert", multiple="">
          <div class="my-message" ng-message="required">Debes indicar tu contraseña.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-disabled="!vm.form.$valid"
        aria-label="Ingresar" type="submit">
         Ingresar
      </md-button>
    </md-card-content>
  </md-card>
</form>
