<md-content class="md-padding">
  <form name="userForm">
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Alias</label>
        <input type="text" ng-model="vm.user.username" disabled>
      </md-input-container>
      <md-input-container flex>
        <label>Email</label>
        <input type="email" ng-model="vm.user.email" disabled>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Nombre</label>
        <input type="text" ng-model="vm.user.name" disabled>
      </md-input-container>
      <md-input-container flex>
        <label>Apellido</label>
        <input type="text" ng-model="vm.user.lastName" disabled>
      </md-input-container>
    </div>
    <div layout layout-md="row" layout-sm="column" layout-xs="column">
      <md-input-container flex>
        <label>Perfil</label>
        <input type="text" ng-model="vm.user.role" disabled>
      </md-input-container>
    </div>
  </form>
</md-content>
