<div class="table-responsive-vertical md-whiteframe-z1">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <span>Listado de registros</span>
      <md-button class="md-fab md-fab-top-right" aria-label="Agregar Cuenta">
        <md-tooltip md-direction="bottom">
          Agregar Cuenta
        </md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <table id="table" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Cuenta</th>
          <th>Nombre</th>
          <th>Nivel 1</th>
          <th>Nivel 2</th>
          <th>Nivel 3</th>
        </tr>
      </thead>
      <tbody>
        <tr ></tr>
        <tr ng-repeat="data in vm.tableData track by $index">
          <td data-title="ID">{{data.id}}</td>
          <td data-title="Cuenta">{{data.accont}}</td>
          <td data-title="Nombre">{{data.name}}</td>
          <td data-title="Nivel 1">{{data.level1}}</td>
          <td data-title="Nivel 2">{{data.level2}}</td>
          <td data-title="Nivel 3">{{data.level3}}</td>
        </tr>
      </tbody>
  </table>
</div>
