<div class="table-responsive-vertical md-whiteframe-z1 anim-zoom-out speed-ng-anim">
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini" aria-label="Volver a Plan-Chile" ui-sref="home.plan-chile({idEmpresa: vm.idEmpresa})">
        <md-tooltip md-direction="bottom">
          Volver
        </md-tooltip>
        <i class="material-icons">arrow_back</i>
      </md-button>
      <span>Cuentas asociadas a {{vm.empresa.name}}</span>
      <md-button class="md-fab md-fab-top-right" aria-label="Agregar Cuenta"
        ui-sref="home.plan-chile-nuevo({idEmpresa: vm.idEmpresa})" ng-if="vm.viewAccess.canCreate===0">
        <md-tooltip md-direction="bottom">
          Agregar Cuenta
        </md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <table id="table" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Cuenta</th>
          <th>Nombre</th>
          <th>Nivel 1</th>
          <th>Nivel 2</th>
          <th>Nivel 3</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr class="tr-with-btn" ng-repeat="data in vm.tableData track by $index">
          <td data-title="ID">{{data.id}}</td>
          <td data-title="Cuenta">{{data.account}}</td>
          <td data-title="Nombre">{{data.name}}</td>
          <td data-title="Nivel 1">{{data.level1}}</td>
          <td data-title="Nivel 2">{{data.level2}}</td>
          <td data-title="Nivel 3">{{data.level3}}</td>
          <td>
            <md-progress-circular md-mode="indeterminate" class="md-primary center-loading loading-row-table"
              md-diameter="35px" ng-show="data.loading">
            </md-progress-circular>
            <md-menu ng-hide="data.loading">
              <md-button class="md-fab md-mini fab-btn-td" aria-label="Editar"
                ng-click="vm.openMenu($mdOpenMenu, $event)" ng-disabled="vm.viewAccess.canEdit===1 && vm.viewAccess.canDelete===1">
                <md-tooltip md-direction="bottom">
                  Realizar acción
                </md-tooltip>
                <md-icon md-svg-src="assets/icons/more_vert.svg"></md-icon>
              </md-button>
              <md-menu-content>
                <md-menu-item ng-if="vm.viewAccess.canEdit===0">
                  <md-button ui-sref="home.plan-chile-editar({id: data.id})">
                    <md-icon md-svg-icon="assets/icons/create.svg" md-menu-align-target></md-icon>
                    Editar
                  </md-button>
                </md-menu-item>
                <md-menu-item ng-if="vm.viewAccess.canDelete===0">
                  <md-button ng-click="vm.deletePlanCtaChile(data, $event)">
                    <md-icon md-svg-icon="assets/icons/delete_forever.svg"></md-icon>
                    Eliminar
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </td>
        </tr>
      </tbody>
  </table>
</div>
<md-progress-circular md-mode="indeterminate" class="md-primary center-loading" md-diameter="40px"
  ng-show="vm.loading">
</md-progress-circular>
