<md-card layout-fill>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <span>Selecciona una empresa</span>
      <md-button class="md-fab md-fab-top-right" aria-label="Agregar Cuenta">
        <md-tooltip md-direction="bottom">
          Agregar Cuenta
        </md-tooltip>
        <md-icon class="material-icons">add</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card-content>
    <form ng-submit="vm.filterAccounts(); $event.preventDefault();" name="vm.searchForm" novalidate>
      <md-autocomplete required flex
        md-input-name="empresa"
        md-selected-item="vm.empresa"
        md-search-text="vm.searchText"
        md-no-cache="true"
        md-items="item in vm.querySearchEmpresa(vm.searchText)"
        md-item-text="item.name"
        md-require-match
        md-floating-label="Empresa">
        <md-item-template>
          <span md-highlight-text="vm.searchText">
            {{item.name}}
          </span>
        </md-item-template>
        <md-not-found>
          No hay empresas con el nombre indicado.
        </md-not-found>
      </md-autocomplete>
      <md-button type="submit" aria-label="Filtrar" class="md-raised">
        Buscar
        <md-icon class="material-icons">search</md-icon>
      </md-button>
    </form>
  </md-card-content>
</md-card>
<div class="spacer"></div>
<div class="table-responsive-vertical md-whiteframe-z1" ng-show="vm.searchProcess">
  <table id="table" class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Cuenta</th>
        <th>Nombre</th>
        <th>Cuenta Chile</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr></tr>
      <tr class="tr-with-btn" ng-repeat="data in vm.tableData track by $index">
        <td data-title="ID">{{data.id}}</td>
        <td data-title="Cuenta">{{data.accont}}</td>
        <td data-title="Nombre">{{data.name}}</td>
        <td data-title="Cuenta Chile">
          {{data.ctaChile.name}}
        </td>
        <td>
          <md-button class="md-fab md-mini fab-btn-td" aria-label="Cambiar Cuenta Chile">
            <md-tooltip md-direction="bottom">
              Cambiar Cuenta Chile
            </md-tooltip>
            <md-icon class="material-icons">create</md-icon>
          </md-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
